<md-sidenav-layout class="left-navigation">
  <md-sidenav #start mode="side" opened="true">
    Start Sidenav.
    <br>
    <button md-button #closeStartButton (click)="start.close()">Close</button>
    <br>
    <ul class="list-unstyled">
     <li *ngFor="let channel of channels">
      <div>
        <a (click)="changeChannel(channel)">{{channel.channelId}} : {{channel.title}}</a>
      </div>
     </li>
    </ul>
  </md-sidenav>

  <button md-button (click)="start.open()">Open start sidenav</button>

  <div class="container">

    <app-message-list [inputChannel]="selectedChannel"></app-message-list>

    <hr>
  </div>

</md-sidenav-layout>

